# Backend Settings
PROJECT_NAME="Processync AI"
DATABASE_URL=postgresql://user:password@db:5432/processync
REDIS_URL=redis://redis:6379/0

# Docker PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=processync

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000
