PROJECT_NAME="Processync AI"

DATABASE_URL=postgresql://user:password@localhost:5433/processync
REDIS_URL=redis://localhost:6379/0

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=processync

NEXT_PUBLIC_API_URL=http://localhost:8000
